<p id="notice"><%= notice %></p>

<p>
  <strong>Target user:</strong>
  <%= @interference.target_user %>
</p>

<%= link_to 'Edit', edit_interference_path(@interference) %> |
<%= link_to 'Back', interferences_path %>
